{% extends 'base.html' %}
{% block title %}Conexões{% endblock %}
{% block content %}

    {% raw %}
        <div ng-controller="HomeController">
            <h1>Conexões</h1>
            <hr>

            <div class="alert alert-danger" role="alert" ng-if="error">
                Falha ao se conectar com a API
            </div>

            <div class="row" ng-if="!error">
                <div class="col-sm-8">
                    <table class="table" ng-if="instances">
                        <thead class="thead-light">
                            <tr>
                                <th>Nome</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="instance in instances">
                                <td>{{ instance.instance }}</td>
                                <td ng-bind-html="instance.status | status"></td>
                                <td>
                                    <a href="/conexoes/{{ instance.instance }}"
                                       class="btn btn-sm btn-secondary">Visualizar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="alert alert-dark" role="alert" ng-if="!instances">
                        Sem conexões ativas
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                                <form>
                                    <div class="form-group">
                                        <input type="text"
                                               class="form-control"
                                               ng-model="input.instance"
                                               placeholder="Nome da instância">
                                    </div>
                                    <button class="btn btn-primary"
                                            ng-disabled="!input.instance"
                                            ng-click="start()">Criar</button>
                                </form>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endraw %}
{% endblock %}

{% block scripts %}
    <script src="static/js/home.controller.js"></script>
{% endblock %}